.form-card{
  padding: 25px;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
}
.form-text button.btn{
    margin: 0px 10px 0 0;
    align-items: center;
}
.form-text textarea{
    height: 150px;
}
.form-card h1{
   font-family: "Sofia", sans-serif;
   text-align: center;
}
.row.textanalizer{
    margin-top: 5rem;
}

@media (max-width:768px) {
  .row.textanalizer .col-sm-3{
    min-height: 0;
  }
  .form-card {
    border: none;
  }
}

.roller{
  height: 3.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0,.5);
  font-family:'Times New Roman', Times, serif;
  font-style: italic;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;  
}

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -4rem;    
  }
  50%{
    top: -8rem;
  }
  72.5%{
    top: -12.25rem;
  }
}

@media screen and (max-width: 600px){
 
  .roller{
  height: 2.6rem; 
  line-height: 2.125rem;  
  }
  
  #spare-time {
    letter-spacing: 0.1rem;
  }
  
  .roller #rolltext {  
  animation: slide-mob 5s infinite;  
}
  @keyframes slide-mob {
  0%{
    top:0;
  }
  25%{
    top: -2.125rem;    
  }
  50%{
    top: -4.25rem;
  }
  72.5%{
    top: -6.375rem;
  }
}
}